1. For loop is used when the numbers of iterations is already known. syntax of for loop is "for". In for loop you don't have to increment the value of i in different set of loop.
while loop is used when you have to execute a set of code for indefinite times until the condition comes out to be false, in while loop when you have started a loop you have to implement condition to increment the value. Example of both cases are :

In [1]:
#for loop
i=1
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
#while loop
i=1
while i<10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [6]:
#for loop 
add=0
prod=1
for i in range(1,11):
    add+=i
    prod*=i
print("the sum of first 10 natural numbers: ",add)
print("the product of first 10 natural numbers: ",prod)

the sum of first 10 natural numbers:  55
the product of first 10 natural numbers:  3628800

In [7]:
#while loop
add=0
prod=1
i=1
while i<=10:
    add+=i
    prod*=i
    i+=1
print("the sum of first 10 natural numbers:",add)
print("the product of first 10 natural numbers:",prod)

the sum of first 10 natural numbers: 55
the product of first 10 natural numbers: 3628800

3. Electricity bill

In [1]:
unit=int(input("enter the unit of electricity "))
if unit<=100:
    print((unit)*4.5)
elif unit<=200:
    print(100*4.5+(unit-100)*6)
elif unit<=300:
    print(100*4.5+100*6+(unit-200)*10)
else:
    print(100*4.5+100*6+100*10+(unit-300)*20)

enter the unit of electricity  310

2250.0

4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [2]:
#for loop
l=list(range(1,101))
l2=[]
for i in l:
    if i**3 % 4 == 0 or i**3 % 5 == 0:
        l2.append(i)
print(l2)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [1]:
#while loop
l=list(range(1,101))
l1=[]
i=1
while i<=100:
    if i**3%4==0 or i**3%5==0:
        l1.append(i)
    i+=1
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [7]:
s="I want to become a data scientist"
count=0
for i in s.lower():
    if i in  ["a","e","i","o","u"]:
        count+=1
print(count)

12